
<div id="page-wrapper">
    <div class="container-fluid">
      <head>

          <title>Cheddar Ranch Popcorn Chicken</title>

          <meta charset="utf-8" />

          <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

          <meta name="viewport" content="width=device-width, initial-scale=1" />

      </head>
        <div class="row">
          <br>
        </div>
        <div>
          <div>
              <input id="recipe-id" type="hidden" name="recipe-id" />

              <h1 id="recipe-title">Cheddar Ranch Popcorn Chicken Recipe</h1>

              <h3 id="recipe-category">Chicken</h3>

              <h3 id="recipe-time">1 hour</h3>

              <p></p>

              <h3>Ingredients</h3>

              <ul id="recipe-ingredients">

                  <li>2 chicken breasts</li>
                  <li>2 cups buttermilk</li>
                  <li>1 packet ranch dressing mix</li>
                  <li>2 cups cheese crackers</li>
                  <li>Oil for frying</li>

              </ul>

              <p></p>

              <h3>Procedure</h3>

              <ul id="recipe-procedure">

                  <li>2 chicken breasts</li>
                  <li>2 cups buttermilk</li>
                  <li>1 packet ranch dressing mix</li>
                  <li>2 cups cheese crackers</li>
                  <li>Oil for frying</li>

              </ul>

          </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">

  window.onload=adminSetup();

  function adminSetup(){
    if (!window.localStorage.getItem("token")){
      document.getElementById("page-wrapper").style.marginLeft = "0px";
    }
    if(window.localStorage.getItem("token")){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
      if (user_info.r != "ADMIN"){
        document.getElementById("page-wrapper").style.marginLeft = "0px";
      }
    }
  }

  if(window.localStorage.getItem("recent-post")){
    getRecipeContent(window.localStorage.getItem("recent-post"));
  }
  if(window.localStorage.getItem("rated-post-1")){
    getRecipeContent(window.localStorage.getItem("rated-post-1"));
  }
  if(window.localStorage.getItem("rated-post-2")){
    getRecipeContent(window.localStorage.getItem("rated-post-2"));
  }
  if(window.localStorage.getItem("rated-post-3")){
    getRecipeContent(window.localStorage.getItem("rated-post-3"));
  }
  if(window.localStorage.getItem("rated-post-4")){
    getRecipeContent(window.localStorage.getItem("rated-post-4"));
  }

  function getRecipeContent(id){
    $.ajax({
         url: "api/recipes/"+id,
         type: "GET",
         success: function(data) {
           $("#recipe-title").html(data.title);
           $("#recipe-category").html("Category: "+data.category_name);
           $("#recipe-time").html("Time required: "+data.time_req);
           $("#recipe-ingredients").html(data.ingredients);
           $("#recipe-procedure").html(data.procedure_steps);
         }
      });
      window.localStorage.removeItem("recent-post");
      window.localStorage.removeItem("rated-post-1");
      window.localStorage.removeItem("rated-post-2");
      window.localStorage.removeItem("rated-post-3");
      window.localStorage.removeItem("rated-post-4");
  }



</script>
