<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div>
              <table width="700px" cellspacing="0" cellpadding="0" border="0" style="width: 700px; height: 201px;">
              <tbody>
                  <tr>
                      <td style="border: 0; text-align: center;">
                        <img style="width: 150px;" src="https://i.ibb.co/1b1mf5D/Profile.jpg" alt="" />
                      </td>
                      <td style="border: 0;">
                          <p style="margin-left: 20px; text-align: justify; text-justify: inter-word;">
                            Hello! I am Admir Krilašević and I started Admir Cooks in 2020 as a passion project.
                            Originally, it was just and Instagram page, but now you can view all the recipes I post on this website.
                            I posts recipes from different categories and try to make my content as diverse and interesting as possible.
                            Hope you enjoy it!
                          </p>
                      </td>

                  </tr>
                  <tr>
                    <td>
                      <br>
                      <a href="https://www.instagram.com/admircooks/" style="align: left;" class="btn btn-block btn-social btn-instagram">
                          <i class="fa fa-instagram"></i> Follow Admir Cooks on Instagram
                      </a>
                    </td>
                  </tr>
              </tbody>
              </table>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">
  window.onload=adminSetup();

  (function reloading(){
    if( window.localStorage ){
      if( !localStorage.getItem('firstLoadAbout') ){
        localStorage['firstLoadAbout'] = true;
        window.location.reload();
      }
      else{
        localStorage.removeItem('firstLoadAbout');
      }
    }
  })();

  function adminSetup(){
    if (!window.localStorage.getItem("token")){
      document.getElementById("page-wrapper").style.marginLeft = "0px";
    }
    if(window.localStorage.getItem("token")){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
      if (user_info.r != "ADMIN"){
        document.getElementById("page-wrapper").style.marginLeft = "0px";
      }
    }
  }

</script>
