<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>Welcome to Admir Cooks!</b></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div >
          <div>
            <h3>Newest recipe</h3>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="jumbotron">
                      <div style="float: right;"><img id="recent-image" style=" height: 200px; margin-top: auto; margin-bottom: auto;" src="" alt=""></div>
                      <h2 id="recent-title"><b></b></h2>
                      <p id="recent-description"></p>
                      <p id="recent-rating"></p>
                      <input id="recent-id" type="hidden" name="recent-id" />
                      <p><a onclick=openRecentRecipe($("input#recent-id").val()) class="btn btn-primary btn-lg" role="button">View recipe</a></p>
                      <p><a onclick=viewCommentsForRecent($("input#recent-id").val()) class="btn btn-primary btn-lg" role="button">View comments</a></p>
                  </div>
              </div>
              <div id="recent-recipe-container">

              </div>
              <div id="recent-recipe-comment-container">

              </div>
              <div class="row"><br></div>
          <div>

            <h3>&ensp; Best rated recipes</h3>
          </div>
            <div class="col-sm-3">
                <div class="hero-widget well well-sm">
                    <div>
                        <img id="rated-image-1" class="icon" src="" alt="">
                    </div>
                    <div class="text">
                       <input id="rated-id-1" type="hidden" name="rated-id-1" />
                        <p id="rated-title-1"class="value">Title</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <label id="rated-description-1"class="text-muted">Description</label>
                        <br>
                        <br>
                        <label id="rated-rating-1"class="text-muted">Rating</label>
                    </div>
                    <div class="options">
                        <p><a onclick=openRatedRecipe($("input#rated-id-1").val()) class="btn btn-primary btn-lg" role="button">View recipe</a></p>
                        <p><a onclick=viewCommentsForRated($("input#rated-id-1").val()) class="btn btn-primary btn-lg" role="button">View comments</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hero-widget well well-sm">
                    <div>
                        <img id="rated-image-2" class="icon" src="" alt="">

                    </div>
                    <div class="text">
                      <input id="rated-id-2" type="hidden" name="rated-id-2" />
                        <p id="rated-title-2" class="value">Title</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <label id="rated-description-2" class="text-muted">Description</label>
                        <br>
                        <br>
                        <label id="rated-rating-2"class="text-muted">Rating</label>
                    </div>
                    <div class="options">
                      <p><a onclick=openRatedRecipe($("input#rated-id-2").val()) class="btn btn-primary btn-lg" role="button">View recipe</a></p>
                      <p><a onclick=viewCommentsForRated($("input#rated-id-2").val()) class="btn btn-primary btn-lg" role="button">View comments</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hero-widget well well-sm">
                    <div>
                        <img id="rated-image-3" class="icon" src="" alt="">

                    </div>
                    <div class="text">
                      <input id="rated-id-3" type="hidden" name="rated-id-3" />
                        <p id="rated-title-3" class="value">Title</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <label id="rated-description-3" class="text-muted">Description</label>
                        <br>
                        <br>
                        <label id="rated-rating-3" class="text-muted">Rating</label>
                    </div>
                    <div class="options">
                      <p><a onclick=openRatedRecipe($("input#rated-id-3").val()) class="btn btn-primary btn-lg" role="button">View recipe</a></p>
                      <p><a onclick=viewCommentsForRated($("input#rated-id-3").val()) class="btn btn-primary btn-lg" role="button">View comments</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hero-widget well well-sm">
                    <div>
                        <img id="rated-image-4" class="icon" src="" alt="">

                    </div>
                    <div class="text">
                      <input id="rated-id-4" type="hidden" name="rated-id-4" />
                        <p id="rated-title-4" class="value">Title</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <label id="rated-description-4" class="text-muted">Description</label>
                        <br>
                        <br>
                        <br>
                        <label id="rated-rating-4" class="text-muted">Rating</label>
                    </div>
                    <div class="options">
                      <p><a onclick=openRatedRecipe($("input#rated-id-4").val()) class="btn btn-primary btn-lg" role="button">View recipe</a></p>
                      <p><a onclick=viewCommentsForRated($("input#rated-id-4").val()) class="btn btn-primary btn-lg" role="button">View comments</a></p>
                    </div>
                </div>
            </div>
            <div id="rated-recipe-container">

            </div>
            <div id="rated-recipe-comment-container">

            </div>
            <div class="row"><br></div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
  window.onload=adminSetup();

  function adminSetup(){
    if (!window.localStorage.getItem("token")){
      document.getElementById("page-wrapper").style.marginLeft = "0px";
    }
    if(window.localStorage.getItem("token")){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
      if (user_info.r != "ADMIN"){
        document.getElementById("page-wrapper").style.marginLeft = "0px";
      }
    }
  }

  getMostRecentPost();

  function getMostRecentPost(){
    $.ajax({
         url: "api/posts/recent",
         type: "GET",
         async: false,
         success: function(data) {
           $("#recent-image").attr("src", data[0].image);
           $("#recent-id").val(data[0].recipe_id);
           $("#recent-title").html(data[0].title);
           $("#recent-description").html(data[0].description);
           $("#recent-rating").html("Rating: "+getRatingForPost(data[0].id));
         }
      });
  }

  function getRatingForPost(id){
    let value = $.ajax({
         url: "api/ratings/get-avg-rating-for-post/"+id,
         type: "GET",
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON;
  }

  getBestRated();

  function getBestRated(){
    $.ajax({
         url: "api/posts/rated",
         type: "GET",
         async: false,
         success: function(data) {
           console.log(data);
           $("#rated-image-1").attr("src", data[0].image);
           $("#rated-id-1").val(data[0].recipe_id);
           $("#rated-title-1").html(data[0].title);
           $("#rated-description-1").html(data[0].description);
           $("#rated-rating-1").html("Rating: "+getRatingForPost(data[0].id));

           $("#rated-image-2").attr("src", data[1].image);
           $("#rated-id-2").val(data[1].recipe_id);
           $("#rated-title-2").html(data[1].title);
           $("#rated-description-2").html(data[1].description);
           $("#rated-rating-2").html("Rating: "+getRatingForPost(data[1].id));

           $("#rated-image-3").attr("src", data[2].image);
           $("#rated-id-3").val(data[2].recipe_id);
           $("#rated-title-3").html(data[2].title);
           $("#rated-description-3").html(data[2].description);
           $("#rated-rating-3").html("Rating: "+getRatingForPost(data[2].id));

           $("#rated-image-4").attr("src", data[3].image);
           $("#rated-id-4").val(data[3].recipe_id);
           $("#rated-title-4").html(data[3].title);
           $("#rated-description-4").html(data[3].description);
           $("#rated-rating-4").html("Rating: "+getRatingForPost(data[3].id));
         }
      });
  }

  function openRecentRecipe(id){
    document.getElementById("recent-recipe-container").style.display = "initial";
    $.ajax ({
      url : "api/recipes/"+id,
      method: "GET",
      success: function(data){
        let text = "";
          text += `<div class='col-lg-12'>
                     <div class='card' style='height: auto;'>
                       <div class='card-body'>
                         <h3 class='card-title'>${data.title}</h3>
                         <h6 class='card-subtitle text-muted'>Category: ${data.category_name}</h6>
                         <h6 class='card-subtitle text-muted'>Time required: ${data.time_req}</h6>
                         <p class='card-text panel'>Ingredients: ${data.ingredients}</p>
                         <p class='card-text panel'>Procedure: ${data.procedure_steps}</p>
                        </div>
                        <div class="card-footer">
						            	<button onclick=hide("recent-recipe-container") >Hide</button>
                        </div>
                      </div>
                    </div>`;
        $("#recent-recipe-container").html(text);
      }
    });
  }

  function openRatedRecipe(id){
    document.getElementById("rated-recipe-container").style.display = "initial";
    $.ajax ({
      url : "api/recipes/"+id,
      method: "GET",
      success: function(data){
        let text = "";
          text += `<div class='col-lg-12'>
                     <div class='card' style='height: auto;'>
                       <div class='card-body'>
                         <h3 class='card-title'>${data.title}</h3>
                         <h6 class='card-subtitle text-muted'>Category: ${data.category_name}</h6>
                         <h6 class='card-subtitle text-muted'>Time required: ${data.time_req}</h6>
                         <p class='card-text panel'>Ingredients: ${data.ingredients}</p>
                         <p class='card-text panel'>Procedure: ${data.procedure_steps}</p>
                        </div>
                        <div class="card-footer">
						            	<button onclick=hide("rated-recipe-container") >Hide</button>
                        </div>
                      </div>
                    </div>`;
        $("#rated-recipe-container").html(text);
      }
    });
  }

  function hide(id){
    console.log(id);
    document.getElementById(id).style.display = "none";
  }

  function viewCommentsForRecent(id){
    document.getElementById("recent-recipe-comment-container").style.display = "initial";
    $.ajax ({
      url : "api/comments/comments-for-post/"+id,
      method: "GET",
      success: function(data){
        let text = "";
    		for(let i=0; i<data.length; i++){
    			text += `<div class='col-lg-12'>
                     <div class='card' style='height: auto;'>
                       <div class='card-body'>
                         <h6 class='card-subtitle text-muted'>${data[i].name}</h6>
    							       <h6 class='card-subtitle text-muted'>${data[i].comment_timestamp}</h6>
    							       <p class='card-text panel'>${data[i].comment_text}</p>
                        </div>
                        <div class="card-footer">
						            	<button onclick=hide("recent-recipe-comment-container") >Hide</button>
                        </div>
                      </div>
                    </div>`;
    		}
        $("#recent-recipe-comment-container").html(text);
      }
    });
  }

  function viewCommentsForRated(id){
    document.getElementById("rated-recipe-comment-container").style.display = "initial";
    $.ajax ({
      url : "api/comments/comments-for-post/"+id,
      method: "GET",
      success: function(data){
        let text = "";
    		for(let i=0; i<data.length; i++){
    			text += `<div class='col-lg-12'>
                     <div class='card' style='height: auto;'>
                       <div class='card-body'>
                         <h6 class='card-subtitle text-muted'>${data[i].name}</h6>
    							       <h6 class='card-subtitle text-muted'>${data[i].comment_timestamp}</h6>
    							       <p class='card-text panel'>${data[i].comment_text}</p>
                        </div>
                        <div class="card-footer">
						            	<button onclick=hide("rated-recipe-comment-container") >Hide</button>
                        </div>
                      </div>
                    </div>`;
    		}
        $("#rated-recipe-comment-container").html(text);
      }
    });
  }


</script>
